<h1 class="text-center lato-dark">All BlocMarks</h1>
<div class="text-center">
  <% if policy(Topic.new).create? %>
    <button type="button" class="btn button-3d" data-toggle="modal" data-target="#new">
      <span class="glyphicon glyphicon-plus"></span>
      New Topic
    </button>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <% @topics.each do |topic| %>
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading lato-normal hidden-xs">
              <%= link_to topic.title, topic, class: 'inliner' %>
            </h3>
            <h4 class="media-heading lato-normal visible-xs">
              <%= link_to topic.title, topic %>
            </h4>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="new" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title lato-dark" id="myModalLabel">Edit Topic</h4>
      </div>
      <div class="modal-body">
        <%= render 'new' %>
      </div>

    </div>
  </div>
</div>