// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 75%;
  height: 75%;
}

.no-top {
  margin-top: 0px;
}

.sep {
  border-bottom: 1px;
  border-color: #ccc;
  border-bottom-style: solid;
}

.sep-top {
  border-top: 1px;
  border-color: #ccc;
  border-top-style: solid;
}